//color 
$_navigation_normal: #FFFFFF;
$_navigation_hover: #BABBC5;
$_navigation_active: #E71414;
$_button_normal: #FF4343;
$_button_hover: #E71414;
$_button_active: #FF4343;
$_work_hover: #FF4343CC;
$_work_active: #B90C0CCC;
$_p_text: #6C7279;
$_cart_title: #2D3033;

//text_size
