//color 
$_navigation_normal: #FFFFFF;
$_navigation_hover: #BABBC5;
$_navigation_active: #E71414;
$_button_normal: #FF4343;
$_button_hover: #E71414;
$_button_active: #FF4343;
$_work_hover: #FF4343CC;
$_work_active: #B90C0CCC;
$_p_text: #6C7279;
$_cart_title: #2D3033;
$_button_text: #FFFFFF;
$_box_shadow_color: 4px 4px 30px 0px #FF4343;


//text_size
$_h1: 4rem;
$_h2: 2.25rem;
$_h3: 1.875rem;
$_h4: 1.5rem;
$_h5: 1.125rem;
$_h6: 0.8125rem;

$_64px: 4em;
$_36px: 2.25em;
$_30px: 1.875em;
$_24px: 1.5em;
$_18px: 1.125em;
$_14px: 0.875em;
$_13px: 0.8125em;
$_370px: 23.125em;
$_80px: 5em;

