.feature{
    padding: 116px 0;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &-items{
        width: 360px;
        margin: 0 15px;
        margin-bottom: 87px;
        &:nth-last-child(-n+3){
            margin-bottom: 0;
        }
        &-img{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            overflow: hidden;
            margin-bottom: 40px;
        }
    }
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-titile{
        font-size: $_h4;
        text-align: center;
        margin-bottom: 40px;
    }
    &-description p{
        color: $_p_text;
        font-size: $_18px;
        text-align: center;
    }
}