@import './var';
@import './mixins';
@import '../scss/button.scss';
@import './cdn.scss';
@import './header.scss';
@import './feature.scss';
@import './work.scss';
@import './team.scss';
@import './slider.scss';
@import './download.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container {
    position: relative;
    z-index: 20;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 20;
}

html{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}
